<%- include("header") -%>

    <!--head-->
    <div class="head">
        <div class="row">
            <div class="col-lg-6">
                <h1>"OUR</h1>
                <h1>DEPARTMENTS"</h1>
            </div>
            <div class="col-lg-6">
                <img src="stethoscope.jpg" alt="">
            </div>
        </div>
    </div>

    <!--depart-->
        <div class="depart">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Anaesthesia</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Anaesthesiology is the practice of medicine dedicated to total care of the surgical patient before, during and after surgery.
                            Before your surgery, you will meet your Anaesthesiologist. He goes through your detailed medical history and coordinates the optimisation of... </p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Blood Centre</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">The Department of Transfusion Medicine & Blood Centre is one of the premier NABH accredited transfusion centre of North India with the state of the art facilities catering to the transfusion needs of patients suffering from a variety of illnesses with specialized...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Critical Care & ICU</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">The Department of Critical Care Medicine & ICU provides sophisticated, compassionate, and expert care to critically ill patients admitted in Artemis. Our approach to care emphasises ethical principles and cost-effectiveness. Quality patient care is optimised through...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="depart">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Cardiology</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">The heart is a beating muscle that continually pumps blood to the rest of the body. The coronary arteries supply the heart itself with the necessary oxygen and nutrients it needs to function effectively.Over time, fatty deposits called plaque can build up inside the...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Dentistry</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Our Clinical Service Include:<br>
                            Preventive Dentistry, Restorative Dentistry, Cosmetic Dentistry and Tooth whitening.<br>
                            Everything you need in dental treatment under one roof,Strict infection control,
                            Digital X-ray for selected teeth... </p>
                            <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Emergency & Trauma Services</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Oreo Emergency & Trauma Services is a 24x7, full-service, state-of-the-art facility that offers comprehensive emergency and trauma care. We believe in providing ‘Life-Saving Care, Tailored to Patient Needs. It is a scientifically developed, protocol-driven emergency service...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    
        <div class="depart">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Gastroenterology</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Gastroenterology is the branch of medicine whereby the digestive system and its disorders are studied. These disorders may affect the oesophagus, stomach, small intestine, large intestine (colon), rectum, liver, gallbladder, or pancreas. Gastroenterology is a subspeciality... </p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Hematology</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">The hematology department at Artemis provides state of the art treatment(indoor and outdoor) to various blood disorders to both children and adults.
                                Various disorders like thalassemia, sickle cell anemia, pure red cell aplasia, hemolytic anemias, nutritional anemias and other... </p>
                            <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Internal Medicine</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">A medical speciality dedicated to the diagnosis and medical treatment of adults. The word 'Internal medicine' came from a German term “Innere Medizin" which means combining the Science of lab with care of patient. A physician who specialises in the internal medicine is...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    
        <div class="depart">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Neurology</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Oreo Hospital, Gurgaon is a multispecialty hospital and considered to be as one of the best tertiary care hospital in India. Since its inception in 2007, department of Neurology has been a leader in the diagnosis, treatment and rehabilitation of patients with neurological...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Oncology</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Oreo Cancer Centre is an integral part of Oreo staffed by well trained and experienced team of oncologists and paramedics, and armed with world class equipment and facilities.The institute has a team of highly trained doctors of international repute and research analysts... </p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Paediatric</h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Having a child in the hospital can be one of the most difficult and upsetting periods for any parent. You are bound to be anxious and may not know what to expect. Our aim is to provide holistic care to the children in an environment which is sensitive to the needs of the...</p>
                          <button type="submit" class="btn">Read more</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <%- include("footer") -%>
</body>
</html>