<%- include("header") -%>
<!--doctors-->

    <div class="doctors-list">
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-kamal-verma.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Kamal Verma</h2>
                    <h4 class="text-muted">Oncology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">  
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-kuldeep-arora.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Kuldeep Arora</h2>
                    <h4 class="text-muted">Cardiology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>  
        <div class="doctors">    
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-aman-jyoti.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Aman Jyoti</h2>
                    <h4 class="text-muted">Anaesthesia</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">    
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-aditi-dixit.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Aditi Dixit</h2>
                    <h4 class="text-muted">Radiology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">    
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-brig-anil-khetarpal.jpg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr.(brig) Anil Khetarpal</h2>
                    <h4 class="text-muted">Blood Centre & Transfusion Medicine</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-anjana-satyajit.jpg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Anjana Satyajit</h2>
                    <h4 class="text-muted">Dentistry</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-b-k-singh.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. B-k Singh</h2>
                    <h4 class="text-muted">Orthopaedics</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-balbir-kalra.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Balbir Kalra</h2>
                    <h4 class="text-muted">Cardiology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-ellora-nanda.jpg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Ellora Nanda</h2>
                    <h4 class="text-muted">Emergency & Trauma Services</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-geeta-buruah-nath.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Geeta Buruah Nath</h2>
                    <h4 class="text-muted">Obstetrics & Gynaecology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-kamal-verma.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Naman Verma</h2>
                    <h4 class="text-muted">Oncology</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-manik-sharma.jpg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Manik Sharma</h2>
                    <h4 class="text-muted">Cosmetic & Plastic Surgery</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-rajsrinivas-parthasarathy.jpg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. RajsrinivasParthasarathy</h2>
                    <h4 class="text-muted">Neurointerventional Surgery</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="row">
                <div class="col-lg-4">
                    <img src="dr-nidhi-rawal.jpeg" alt="img">
                </div>
                <div class="col-lg-4">
                    <h2>Dr. Nidhi Rawal</h2>
                    <h4 class="text-muted">Paediatric Cardiology & Cardiac Surgery</h4>
                    <h6 class="profile">View Profile</h6>
                </div>
                <div class="col-lg-4">
                    <a href="/registration" class="btn">Make an appointment</a>
                </div>
            </div>
        </div>
    </div>
    
    <%- include("footer") -%>
</body>
</html>