<%- include("header") -%>
    <!--FAQ-->
    <div class="faq">
        <div class="row">
            <div class="col-lg-6">
                <h1>FAQs</h1>
                <h5 class="text-muted">Frequently Asked Questions</h5>
            </div>
            <div class="col-lg-6">
                <img src="question_mark.png" alt="">
            </div>
        </div>
    </div>
    <!--Question-->
    <div class="ques">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       How will I know I need Antibiotics?
                       </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                       The answer depends on what is causing your infection. The following are some basic guidelines:
                       <br>• Colds and Flu: Viruses cause these illnesses. They can't be cured with antibiotics.
                       <br>• Sore throat, Cough or Bronchitis: These can be caused by both bacteria and Viruses. Your doctor may decide to try using an antibiotic.
                       <br>• Ear infections: There are several types of ear infections. Antibiotics are used for some (but not all) ear infections.
                       <br>• Sinus infection: Antibiotics are often used to treat sinus infections. However, a runny nose and yellow or green mucus do not necessarily mean you need an antibiotic.
                       <br>• Dengue fever: Antibiotics are not required. Take paracetamol, adequate fluid and rest under mosquito net.
                       <br>• Acute diarrhoea in children does not require an antibiotic, but oral rehydration salts and clear instructions to parents.   
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           What are the different types of headaches?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Headaches can be classified mainly into 4 types
                        <br>• Migraine Headache – A common form of headache which occurs on one part of the head
                        <br>• Tension Headache – Headache which occurs at the back of the head, temples, forehead, the feeling is as if a tight hat were in place.
                        <br>• Hypnic headache – A rare headache that affects the age group of 40 – 80. It occurs only at night at a fixed time of the night lasting for 15 – 60 minutes.
                        <br>• Cluster Headache – A headache which occurs several times a day but lasts for a short while. It is always one sided headache and is associated with symptoms such as stuffy nose, tearing and enlarged pupil. 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What should a person infected with chicken pox do to prevent it from spreading?
                      </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Chicken pox is a highly contagious disease and can make it very sick, so a person infected should ensure that he does not spread it to other people. Some points to keep in mind are.
                        <br>• Stay away from work/school
                        <br>• Stay away from people who are more prone to risk for eg. People with weaker immune system
                        <br>• Stay clean at all times
                        <br>• Get vaccinated as early as possible
                    </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           What should be my ideal diet to stay healty?
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Healthy eating means consuming the right portions (Quantity) of foods from all food groups to lead a healthy life. We need a wide range of nutrients to lead a healthy and an active life style. The requirement of nutrient keeps changing in different phase of life. For e.g. Infancy would require breastfeed for 6 month followed by good weaning, whereas a preschooler a balanced diet ,more of proteins containing the essential food groups and nutrients - vitamin A, C, calcium, iron and zinc.
                        A Healthy good diet should be fitting in your nutritional lifestyle and not lifestyle fitting in diet, if later is followed compliance would be only for a short span.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           What causes rickets in children?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        vitamin D deficiency.
                        <br>Vitamin D promotes the absorption of calcium and phosphorus from the gastrointestinal tract. A deficiency of vitamin D makes it difficult to maintain proper calcium and phosphorus levels in bones, which can cause rickets.
                        <br>Other factors that may cause rickets among children are :
                        <br>• Lack of vitamin D during pregnancy
                        <br>• Geographical locations: where there is less sunshine
                        <br>• Premature birth
                        <br>• Children who are exclusively feed on breast milk, should receive Vitamin D drops 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                           Are dental X-Ray safe? How?
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        Dental X-rays expose the patients to a small amount of radiation. In case, if you are expecting, it is important to inform your dentist before the treatment is started. The experts use the lead aprons to protect the unborn child from getting exposed to the radiation.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Are invisible braces safe?
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        Invisible braces or lingual braces are placed at the back of the teeth. For the most part, they are not visible to others. These provide maximum aesthetic to the patient, while ensuring a smooth treatment. The invisible braces are fully customized appliances as they are fabricated individually for each patient, based on the impressions and X-rays. Thus, treatment results are far superior to regular braces, and patient comfort is at its best. Invisible braces are absolutely safe, and are now the preferred orthodontic treatment for adults! 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            How long are the dental procedures?
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        Depending upon the type of procedure being undertaken, various procedures may take 2-3 appointments to complete,
                        excluding first appointment. Each appointment may take 30-60 minutes each. 
                        In case of orthodontic treatment, the entire procedure may take 12-15 months for completion of the treatment.
                        Your dentist will inform you regarding the treatment duration, when discussing various treatment options with you regarding your complaints. 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            How do you treat tonsillectomy?
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        Tonsillectomy refers to the procedure in which the tonsils are removed.
                        There are several ways to remove the tonsils the most common method being “cold knife (steel) dissection”. 
                        This technique involves the surgeon removing the tonsils with the help of a scalpel (sharp bladed instrument). Another common method used is “cauterization”. 
                        In this method, the tonsil tissues are completely burnt away.
                        Other methods include the use of ultrasound to treat tonsils as well.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Does diet affect the formation of kidney stones?
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, diet affects the formation of kidney stones. Not drinking enough water, diet rich in red meat, dry fruits, calcium and oxalates can cause kidney stones.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Reviews-->
    <!--<div class="reviews">
        <h1>
            <span>|</span>
            Some Patients Reviews
        </h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                        <div class="col-lg-6">
                            <div class="imgDiv"></div>
                        </div>
                        <div class="col-lg-6">
                          <span>"</span>
                          Recently visited health check up department of Apollo Hospital for a whole body check up.
                          The entire process from check in to the end was seamless. The staff at the health check department was courteous, helpful and very attentive. 
                          I would highly recommend this hospital to anyone looking for something similar services.
                          <p><span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                          </p>
                          <h5>REVIEWS BY: RAJNISH PANDAY, India</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="imgDiv"></div>
                        </div>
                        <div class="col-lg-6">
                            <span>"</span>
                            It's very well mannered staff good coordination with patients. Mrs. Praveena garu assisted very well and taken good care towards patients.
                            Overall experience is satisfactory.
                             <p><span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             </p>
                             <h5>REVIEWS BY:SURYA ROYAL, India</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="imgDiv"></div>
                        </div>
                        <div class="col-lg-6">
                             <span>"</span>
                             Dr ashwini is very excellent in treatment and way of receiving the patients. 
                             We are very happy. And secretary is very good very polite towards she helped me alot for my transplant. 
                             Overall excellence.
                             <p><span><i class="fas fa-star"></i></span>
                               <span><i class="fas fa-star"></i></span>
                               <span><i class="fas fa-star"></i></span>
                               <span><i class="fas fa-star"></i></span>
                               <span><i class="fas fa-star"></i></span>
                             </p>
                             <h5>REVIEWS BY: AVINASH MIRASHE, India</h5>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--Written Crousel-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="jumbotron">
                    <h1 class="display-4">danish dagar</h1>
                    <p class="lead">
                        Recently visited health check up department of Oreo Hospital for a whole body check up. The entire process from check in to the end was seamless. The staff at the health check department was courteous, helpful and very attentive. I would highly recommend this hospital to anyone looking for something similar services
                    </p>
                    <p>
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                    </p>
                    <hr class="my-4" />
                </div>
            </div>
            <% ourfoundReviews.forEach(review => { %>
            <div class="carousel-item">
                <div class="jumbotron">
                    <h1 class="display-4"><%= review.name %></h1>
                    <p class="lead">
                       <%= review.feedback %>
                    </p>
                    <p>
                        <% for (let i = 0; i < review.rating ; i++) { %>
                        <span>⭐</span>
                        <% } %>
                    </p>
                    <hr class="my-4" />
                </div>
            </div>
            <% }); %>
        </div>
    </div>
   
    <%- include("footer") -%>
</body>
</html>