<%- include("header") -%>
 <!--FRont-->   

    <div class="front">
        <div class="row">
            <div class="col-lg-4 right">
                <h2>Welcome to</h2>
                <h1><span>Oreo</span> Hospital</h1>
                <p class="text-muted">Number 1 hospital in Gurugram,Haryanay.Best services,with best teams of doctors.</p>
                <a href="/registration" target="_blank" class="btn">Book Now</a>
            </div>
            <div class="col-lg-8">
                <img src="doctorimg.jpg" alt="img">
            </div>
        </div>
        <!--Appointment-->
        <div class="appointment">
            <div class="row">
                <div class="col-lg-6 fst">
                    <h3>Your Appointment</h3>
                    <h6 class="text-muted">Just a Click away ---></h6>
                </div>
                <div class="col-lg-6 snd">
                    <a href="/registration" target="_blank" class="btn btn-block butto">Book an appointment</a>
                </div>
            </div>
        </div>
    </div>
 
 <!--About-->
 
    <div class="about">
        <h2><span>|      ABOUT </span>US</h2>
        <h4 class="text-muted">   One of the BEST hospital ....</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="img">
                    <img src="about-img.jpg" alt="about">
                </div>
                <div class="line">
                    <h1>__________</h1>
                </div>
            </div>
            <div class="col-lg-8 side">
                <h4><span>OREO Hospital </span> is excel in the delivery of specialized medical care supported by comprehensive research and education.</h4>
                <h5>VISION</h5>
                <p>To create an Integrated World Class Healthcare System, Fostering, Protecting, Sustaining and Restoring Health through Best in Class Medical Practices and Cutting Edge Technology developed through in depth Research carried out by the World’s Best Scientific Minds.</p>
                <h5>Core Values</h5>
                <ul>
                    <li>Care for customer</li>
                    <li>Respect for Associates</li>
                    <li>Excellence through Teamwork</li>
                    <li>Always Learning</li>
                    <li>Trust Mutually</li>
                    <li>Ethical Practices</li>
                </ul>
            </div>
        </div>
    </div>

    <!--Services-->
    <div class="services" id="services">
        <h2 class="text-muted"><span>|   OUR</span> Best Services</h2>
        <div class="row first">
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-cardio-monitoring.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cardiac Monitoring</h5>
                      <p class="card-text">Cardiac monitoring is the observation of your heart by a heart monitor to help discover cardiac arrhythmias </p>
                      <a href="https://en.wikipedia.org/wiki/Cardiac_monitoring">Learn more..</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-cardiology.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Orthodontics</h5>
                      <p class="card-text">Orthodontia is the branch of dentistry that deals with abnormalities of the teeth and jaw.</p>
                      <a href="https://www.colgate.com/en-us/oral-health/early-orthodontics/what-is-orthodontics">Learn more..</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-traumatology.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Traumatology</h5>
                      <p class="card-text">The branch of surgery that deals with injured patients, usually on an emergency basis.</p>
                      <a href="https://www.merriam-webster.com/dictionary/traumatology">Learn more..</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row first">
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-orthodontics.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cardiology</h5>
                      <p class="card-text">Cardiology is a branch of medicine that deals with the disorders of the heart and some parts of the circulatory system.</p>
                      <a href="https://www.medicalnewstoday.com/articles/248935">Learn more..</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-prostheses.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Prosthesis</h5>
                      <p class="card-text">A Prosthesis or prosthetic implant is an artificial device that replaces a missing body part.</p>
                      <a href="https://www.medicinenet.com/prosthesis/definition.htm">Learn more..</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="icon-pulmonary.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pulmonary</h5>
                      <p class="card-text">A type of high blood pressure that affects arteries in the lungs and in the heart.The condition worsens over time.</p>
                      <a href="https://www.cdc.gov/heartdisease/pulmonary_hypertension.htm">Learn more..</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <!--serve-->
    <div class="serve">
        <div class="row">
            <div class="col-lg-3">
                <span><i class="fas fa-user serv-icon"></i></span>
                <h1 class="num">+21652</h1>
                <h5>Happy Clients</h5>
            </div>
            <div class="col-lg-3">
                <span><i class="fas fa-heart serv-icon"></i></span>
                <h1 class="num">+7652</h1>
                <h5>Heart Transplant</h5>
            </div>
            <div class="col-lg-3">
                <span><i class="fas fa-thumbs-up serv-icon"></i></span>
                <h1 class="num">+50</h1>
                <h5>Year Of Experience</h5>
            </div>
            <div class="col-lg-3">
                <span><i class="far fa-laugh-beam serv-icon"></i></span>
                <h1 class="num">+19252</h1>
                <h5>Well Smiley Faces</h5>
            </div>
        </div>
    </div>

    <!--Team-->
    <div class="team">
        <div class="row">
            <div class="col-lg-4">
                <h2><span>|      MEET </span>OUR TEAM</h2>
                <p class="text-muted">Empathetic, Skilled, and Honest...</p>
            </div>
            <div class="col-lg-6">
                <h6><span>BEST</span> Team accross India. We prioritize the patient's comfort and convenience at each stage of their journey.</h6>
            </div>
        </div>
        <div class="row second">
            <div class="col-lg-3">
                <div class="card">
                    <img src="team-member-01.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. John</h5>
                      <p class="card-text text-muted">Dentist</p>
                      <p><span><i class="fab fa-facebook-f"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-instagram"></i></span>
                      </p>
                      <a href="#" class="btn btn-outline-warning vm-btn">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="team-member-02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Amelia</h5>
                      <p class="card-text text-muted">Gynecologist</p>
                      <p><span><i class="fab fa-facebook-f"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-instagram"></i></span>
                      </p>
                      <a href="#" class="btn btn-outline-warning">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="team-member-03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Jack</h5>
                      <p class="card-text text-muted">Audiology</p>
                      <p><span><i class="fab fa-facebook-f"></i></span>
                          <span><i class="fab fa-twitter"></i></span>
                          <span><i class="fab fa-instagram"></i></span>
                        </p>
                      <a href="#" class="btn btn-outline-warning">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="team-member-04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Charlie</h5>
                      <p class="card-text text-muted">Neurology</p>
                      <p><span><i class="fab fa-facebook-f"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                        <span><i class="fab fa-instagram"></i></span>
                      </p> 
                      <a href="#" class="btn btn-outline-warning">View More</a>
                    </div>
                </div>
            </div>    
        </div>  
    </div>

    <!--Choose-->
    <div class="choose">
        <h2 class="text-muted"><span>|      Why </span>Choose Us</h2>
        <div class="row">
            <div class="col-lg-6">
                <h3>Oreo Hospital is the first JCI and NABH accredited Hospital. </h3>
                <h6>Oreo Hospital was established in July 2007 by Apollo Tyres Ltd, one of the leading tyre manufacturers in India. Spread across 9 acres, Oreo is a 400 plus bed; state-of-the-art, multi-speciality hospital. </h6>
                <h6>Oreo has 400 plus full time doctors, 12 centres of excellence and 40 specialities.</h6>
            </div>
            <div class="col-lg-6">
                <img src = "why-choose-img.png" alt = "img">
            </div>
        </div>
    </div>

    <!--Support-->
    <div class="support">
        <h2>We provide 24/7 customer support.</h2>
        <h5>Please feel free to contact us at (01) 234 5678 for emergency case.</h5>
        <a href="/reviews" class="btn">Write Reviews</a>
    </div>

    <!--Blog-->
    <div class="blogs">
        <h2 class="text-muted"><span>|     Latest </span>From Blog</h2>
        <div class="row mainro">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="blog-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Do kids need covid vaccine...</h5>
                        <p class="card-text">The side effects and precautions, know from Expert <a href="https://www.cdc.gov/vaccines/vpd/vaccines-age.html">Read more..</a></p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p><span><i class="far fa-calendar-alt"></i></span>31-05-2021</p>
                            </div>
                            <div class="col-lg-6 comment">
                                <p><span><i class="far fa-comments"></i></span>Comments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="blog-3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Longer wait triggers second do...</h5>
                        <p class="card-text">Doctors have been busy dismissing anxieties on <a href="https://timesofindia.indiatimes.com/city/gurgaon/longer-wait-triggers-second-dose-anxiety-doctors-say-follow-science/articleshow/82844341.cms">Read more..</a></p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p><span><i class="far fa-calendar-alt"></i></span>20-03-2021</p>
                            </div>
                            <div class="col-lg-6 comment">
                                <p><span><i class="far fa-comments"></i></span>Comments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="blog-2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Over 30,000 childrens are affe...</h5>
                        <p class="card-text">The commission further said that the state-wise data <a href="https://www.hindustantimes.com/india-news/nearly-30-000-children-affected-by-pandemic-says-ncpcr-s-latest-affidavit-in-supreme-court-101623001350963.html">Read more..</a></p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p><span><i class="far fa-calendar-alt"></i></span>01-14-2021</p>
                            </div>
                            <div class="col-lg-6 comment">
                                <p><span><i class="far fa-comments"></i></span>Comments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <%- include("footer") -%>
</body>
</html>